@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Playfair+Display&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

nav {
  padding: 20px;
}

html {
}

/* Task 1: Give

- Bird photos 320px width
- Author photos 40px width and height

- About sections 20px padding
- Buttons horizontal padding 16px and vertical padding 24px

- Heading 32px font size and paragraph 16px font size

Task 2: Give

- Section `display: flex` and `align-items: center`

- Bird photos and side section 50% width
- Author photos 50% border radius

Task 3: Give

- Section 100vh height
- Heading 5vw font size

Task 4: Give

- Heading 2rem font size and paragraph 1rem font size
- Button 0.75rem font size and `1em 1.5em` padding 

Task 5: Give 

- Paragraph 50ch max width 
*/

.section {
  background-color: #140d0b;
  color: #fef6e4;

  display: flex;
  align-items: center;

  height: 100vh;
}

.bird-photo {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.side-section {
  width: 50%;
}

.about {
  margin: 0 auto;
  width: fit-content;

  padding: 20px;

}

.author {
  width: 40px;
  height: 40px;

  object-fit: cover;

  border-radius: 50%;
}

.about h2 {
  font-family: "Playfair Display", serif;

  font-size: 2rem;
}

.about p {
  font-size: 1rem;
}

.about button {
  border: none;
  background-color: #feb51c;
  color: #140d0b;
  font-weight: bold;

  font-size: 0.75rem;

  padding: 16px 24px;
}

